/* MAIN PAGE  */
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	cursor: default;
  max-width:
}


/* HEADER */

.header-container {
  background-color: #f1f3f2;
	margin-bottom: 32px;
	padding-bottom: 15px;
}

.container {
	max-width: 1140px;
  /* max-height: 150px; */
	margin: auto;
  padding-top: 20px;
}

.container a {
  text-decoration: none;
  font-family: 'Lato', serif;
  /* font-weight: bold; */
  color: #8B2E5F;
}

.container h1 {
  text-align: center;
  font-family: 'Lato', serif;
  font-size: 3.5em;
  margin-top: 0;
  margin-bottom: 0;
  color: #8B2E5F;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
	margin: 15px 0 0 0;
}

.body {
  max-width: 1140px;
  margin: 0 auto;
  max-height: 800px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


/* FOOTER */

footer {
  background-color: #8B2E5F;
		margin-top: 32px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  max-width: 1140px;
}

#left-foot {
	max-width: 30%;
}

#left-foot p {
	color: white;
	margin: 8px 0 8px 0;
	font-size: 18px;
}

#left-foot h2 {
	color: white;
	font-family: 'Lato', serif;
}

#center-foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
	max-width: 30%;
}

#return {
  text-align: center;
  font-family: 'Lato', serif;
  color: white;
}

.social-media {
  display: flex;
  justify-content: space-around;
  margin: 35px 0 35px 0;
}

.copyright {
  color: white;
  font-weight: 600;
}

#email-button {
  color: white;
}

#facebook-button {
  color: white;
}

#right-foot {
	overflow-wrap: break-word;
	max-width: 30%;
}

#right-foot h4 {
	color: white;
	font-family: 'Lato', serif;
	margin-bottom: 16px;
	text-align: center;
}

#right-foot p {
	color: white;
}
